/* body {
    display: flex;
    flex-direction: column;
    background-color: #ccc0;
 } */
* {
  margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    width: 100%; 
    max-width: 2500px;
    margin: 20px;
    margin-bottom: 6rem;
}

header {
  background-color: rgb(224, 155, 63);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Card Style */
.charDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picDivs {
    width: 80%;
    margin: 15px;
}
.scene {
    width: 200px;
    height: 260px;
    /* border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* line-height: 260px; */
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    backface-visibility: hidden;
  }
  
  .card_face--front {
    border: 2px solid #d4d4d4;
    border-radius: 0.5rem;
    background: rgb(39, 39, 63);
  }

  .card_face--front:hover {
    transition-duration: 1.5s;
   transform: scale(1.1)
  }
  
  .card_face--back {
    border: 2px solid #d4d4d4;
    border-radius: 0.5rem;
    background: rgb(67, 67, 102);
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1, h2, h3 {
    color: beige;
    font-family: 'Roboto', sans-serif
  }

  p {
      margin: 15px;
      color: beige;
      font-family: 'Roboto', sans-serif
  }

  #newPokemon {
      width: 150px;
      height: 100px;
      background-color: aquamarine;
      font-size: 1.5rem;
      margin: 20px;
      font-family: 'Roboto', sans-serif
  }
  